@charset "utf-8";

body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;
    padding:0;
-webkit-text-size-adjust:none}
h1, h2, h3, h4, h5, h6{font-size:12px;
    font-weight:normal}
a img {border:0}
body{color:#333;
    text-align:center;
font:12px "微软雅黑";
}
ul, ol, li {list-style-type:none;
    vertical-align:0}
a {outline-style:none;
    color:#535353;
text-decoration:none}
a:hover{color:#D40000;
    text-decoration:none
}
#container{
    background-color:#383E42;

}           
.itagBox{
    padding: 50px 0;
    margin:0 auto;
    clear:both;
    width:1038px;
    overflow:hidden;
}
.itagBox ul{width:100%;
}
.itagBox ul li{position:relative;
    float:left;
width:280px;
background:#fff;
height:280px;
 overflow:hidden;
 margin:0px 12px 15px 12px;
}
.itagBox ul .votetext
{
    width:100%;
    overflow:hidden;
    height:240px;
    background-position:center center;
    background-repeat:repeat;
    border-bottom:1px dotted #ddd;

}
.itagBox ul .votedo
{
    width:100%;
    height:40px;
    line-height:40px;    
}
.votedo .cvotenum
{
    float:left;
    width:140px;
    height:40px;
    line-height:40px;
    text-align:left;
    margin-left:8px;
    font-size:16px;
    color:#cc0000;

}
.votedo .cvote
{
    float:right;
    width:55px;
    height:26px;
    line-height:26px;
    text-align:left;
    margin:7px 8px 7px auto;
    background-color:#FF4040;
    border:1px solid #FF3030;
    text-align:center;
    font-size:16px;
    color:#fff;
    cursor:pointer
}
.itagBox ul .tag1{
    width:235px;
}
.tag_yellow{
    color:#fff601;
}
.tag_txt{
    text-align:center;
    line-height:40px;
    padding-top:12px;
     font-size:23px;
     font-family:微软雅黑;
    color:#fff;
     background-color: rgba(197, 98, 98, 0.35);
}
.itagBox ul li a{ position:absolute;
    left:0px;
    top:0px;
    overflow-y: auto;
    line-height:20px;
    text-align:center;
    padding-top:5px;
    display:block;
    color:#FFF;
    width:100%;
    height:235px;
    filter:alpha(opacity=95);
    background:#000;
    opacity:0.95;
    background:#000;
}
.itagBox ul li a:hover{
    color:#FFF;
    text-decoration:none;
}
.itagBox ul .tag2{
    background:#2E71B3;
}
.itagBox ul .tag3{
    background:#2E71B3;
}
.votetext p{
    font-size: 15px;
    margin: 20px auto;
}
@media only screen and (max-width: 1050px)
{
    .itagBox{
        width: 810px;
    }
}
@media only screen and (max-width: 785px){
    .itagBox{
        width: 520px;
    }
}
@media only screen and (max-width: 530px ){
    .itagBox{
        width: 250px;
    }
}
